
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family:"Fira Sans";
}


header {
  background-color: #ff69b4; /* لون الشعار */
  text-align: center;
  padding: 20px 0;
}

h1.logo {
  color: white; /* لون النص في الشعار */
  font-size: 36px;
}

main {
  text-align: center;
  padding: 20px;
  background-image: url(https://img.freepik.com/photos-gratuite/carte-voeux-saint-valentin-fleurs-roses_114579-82596.jpg?w=996&t=st=1697924143~exp=1697924743~hmac=393069e1cd35f148be29798cf1c0d3042cbcbdf7c913a432b8e2585bbf0deaf8);
  height: 74vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.love-message {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #ff69b4; /* لون عنوان الرسالة */
  font-size: 24px;
}

p {
  font-size: 18px;
  font-family:"Fira Sans";
}


.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #ff69b4;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button ,a{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
   
}

button:hover {
    background-color: #ff4591;
}
a{
  display: flex;
  text-decoration: none;
  font-size: 18px;
  width: max-content;
  text-align: center;
  margin: 20px auto;
}

#lovePoem {
    font-size: 22px;
    margin-top: 20px;
}

#lovePoemContainer {
    background-color: #ff69b4;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

#lovePoem {
    font-size: 18px;
    color: #fff;
    margin: 0;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    max-width: 500px;
    margin: 0 auto;
}
.par{
  color: #fff;
}